{# The (very basic) markup for individual files/pages. #}

{% include 'partials/breadcrumb.twig' %}

<div class="content">
    <article>
    
        <header>
            <h1>{{ title }}</h1>
        </header>
    
        {{ content }}
    
    </article>
</div>