{# Some very simple markup for the home page. #}


    <section id="pagecontent">

        {% if settings.themes.NewFolderTypemill.pagelayout == "layoutsideleft" %}

            <header class="layoutsideleftheader" >
                <div class="headerwrap">
                    <h1>{{ title }}</h1>
                </div>
            </header>

        {% endif %}

        <div class="pagewrap">

            <div class="content">
                <article>

                    {% if settings.themes.NewFolderTypemill.pagelayout == "layoutcentered" %}

                        <header>
                            <h1>{{ title }}</h1>
                        </header>

                    {% endif %}
                    
                    {{ content }}
                    
                </article>

            </div>

{# This grabs the navigation loop used to create the directory navigation. #}

{% include 'partials/homepageloop.twig' %}


        </div>
    </section>
