/* Some incredibly minimal styling for the footer.
   May or may not be expanded at some future time. */

footer#pagefooter {
    background-color: var(--tertiary-color);
    padding: 2em;
    text-align: center;
}