/* Global Widget area styles */

aside#widgets {
    div.pagewrap {
        padding: 1em;
        background: var(--tertiary-color);
        margin-top: -2em;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
        position: relative;
        z-index: 999;
    }  
}

/* "Sidebar on the left" layout widget area styles */

.layoutsideleft {
    aside#widgets {
        .pagewrap {
            max-width: 100%;
            margin-top: 0;
        }
    }
}

